@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 85.4vh;
}

/* Adjust this selector based on your layout structure */
.page-container>*:not(footer) {
    flex: 1;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}

.image1 {
    position: relative;
    top: 0;
    left: 0;
    -webkit-filter: drop-shadow(1px 1px 1px #000);
    filter: drop-shadow(1px 1px 1px #000);
}

.image2 {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-filter: drop-shadow(1px 1px 1px #000);
    filter: drop-shadow(1px 1px 1px #000);
}

.w {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Updated alignment */
    justify-content: center;
}
/* .flex.items-center.self-start.mt-2 {
  flex-direction: column;
  align-items: center;
} */
